.filter-container button{
    margin-right: 2rem;
    min-width: 5rem;
    padding: 0.5rem 1rem;
    border: none;
    background:white;
    color: red;
    border-radius: 1rem;
    border:2px solid black;
    font-weight: bold;
    cursor: pointer;
}

button:active{
    background-color: black;
    color: red;
}

@media only screen and (max-width:750px){
    .filter-container button{ 
       margin-top: 5px;
}
}